* {
    margin: 0;
    padding: 0;
}

#menu-toggle {
    display: none;
}

.nav-menu {

    top: 0;
    width: 100%;
    position: sticky;
    z-index: 100;
    background-color: #333;
}

#menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    gap: 5px;
    padding: 5px;

}

#menu li {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

#menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

#menu li:hover {
    background-color: #e4eae4;
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

#menu li a:hover {
    color: #4CAF50;
}

#acerca {
    background-color: #f4454560;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

#contacto {
    background-color: #b2eabe;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

#servicios {
    background-color: #b9adef;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}


#container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    padding: 10px;
    grid-template-areas:
        "header header header "
        "main main  main"
        "footer footer footer ";

}

#data {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    min-height: 100vh;
}

#container header {
    grid-area: header;
}

#container main {
    grid-area: main;

}

#container footer {
    grid-area: footer;
}

#container aside {
    grid-area: aside;
}

@media (max-width: 768px) {
    #menu-toggle {
        display: block;
        margin: 10px;
        border: 1px solid #4CAF50;
        padding: 10px;
        background-color: #4CAF50;
    }

    #menu {
        display: none;
        grid-template-columns: 1fr;
        gap: 5px
    }

    #menu.visible {
        display: grid;
    }

    #container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.imagenes {    
    column-gap: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    background-color: #f5f39c;
    border-radius: 5px;
    
}

.imagenes img {
    width: 75%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    animation: galeriaAnimacion  linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}

@media (max-width: 412px) {
    #container {
        grid-template-columns: 1fr;
    }

    .imagenes {
        grid-template-columns: repeat(2, 1fr);
    }

    .widget {
        display: none;
    }
}


@media (max-width: 320px) {
    .imagenes {
        grid-template-columns: 1fr;
    }
}



/*scroll*/
.scroll {
    position: sticky;
    width: 0%;
    top: 43px;
    height: 0.2em;
    background-color: red;
    cursor: pointer;
    animation: scroll-mover auto linear;
    animation-timeline: scroll(root);
    z-index: 1000;
}

/*animaciones*/
@keyframes scroll-mover {
    from {
        width: 0%;
       
    }

    to {
        width: 100%;
      
    }
}

@keyframes galeriaAnimacion {
    from{
        opacity: 0;
         translate: 0 100px;
    }

  
    to {
        opacity: 1;
          translate: 0 0;
      
    }

}

#servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#servicios h2{
    grid-column: span 3;
    text-align: center;
}


.card-servicio{
    background-color: #9dd3af;
    border:1px solid #4CAF50;
    border-radius: 5px;
    padding: 10px;
}